/*
 * BombBomb
 * We make it easy to build relationships using simple videos.
 *
 * OpenAPI spec version: 2.0.831
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EmailsApi {
    private ApiClient apiClient;

    public EmailsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EmailsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createPrintingPressEmail
     * @param templateId The template id to be printed. (required)
     * @param content The content of the email. (required)
     * @param emailId The email id to be printed to. (optional)
     * @param videoId A video to replace video place holders with. (optional)
     * @param subjectLine The subject line to be printed. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPrintingPressEmailCall(String templateId, String content, String emailId, String videoId, String subjectLine, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/print";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (templateId != null)
        localVarFormParams.put("templateId", templateId);
        if (content != null)
        localVarFormParams.put("content", content);
        if (emailId != null)
        localVarFormParams.put("emailId", emailId);
        if (videoId != null)
        localVarFormParams.put("videoId", videoId);
        if (subjectLine != null)
        localVarFormParams.put("subjectLine", subjectLine);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPrintingPressEmailValidateBeforeCall(String templateId, String content, String emailId, String videoId, String subjectLine, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'templateId' is set
        if (templateId == null) {
            throw new ApiException("Missing the required parameter 'templateId' when calling createPrintingPressEmail(Async)");
        }
        
        // verify the required parameter 'content' is set
        if (content == null) {
            throw new ApiException("Missing the required parameter 'content' when calling createPrintingPressEmail(Async)");
        }
        

        com.squareup.okhttp.Call call = createPrintingPressEmailCall(templateId, content, emailId, videoId, subjectLine, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create an Email with Printing Press
     * Prints an email using the template id and content to the users account.If a video id is included, it will replace any video placeholders with that video.
     * @param templateId The template id to be printed. (required)
     * @param content The content of the email. (required)
     * @param emailId The email id to be printed to. (optional)
     * @param videoId A video to replace video place holders with. (optional)
     * @param subjectLine The subject line to be printed. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createPrintingPressEmail(String templateId, String content, String emailId, String videoId, String subjectLine) throws ApiException {
        createPrintingPressEmailWithHttpInfo(templateId, content, emailId, videoId, subjectLine);
    }

    /**
     * Create an Email with Printing Press
     * Prints an email using the template id and content to the users account.If a video id is included, it will replace any video placeholders with that video.
     * @param templateId The template id to be printed. (required)
     * @param content The content of the email. (required)
     * @param emailId The email id to be printed to. (optional)
     * @param videoId A video to replace video place holders with. (optional)
     * @param subjectLine The subject line to be printed. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createPrintingPressEmailWithHttpInfo(String templateId, String content, String emailId, String videoId, String subjectLine) throws ApiException {
        com.squareup.okhttp.Call call = createPrintingPressEmailValidateBeforeCall(templateId, content, emailId, videoId, subjectLine, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create an Email with Printing Press (asynchronously)
     * Prints an email using the template id and content to the users account.If a video id is included, it will replace any video placeholders with that video.
     * @param templateId The template id to be printed. (required)
     * @param content The content of the email. (required)
     * @param emailId The email id to be printed to. (optional)
     * @param videoId A video to replace video place holders with. (optional)
     * @param subjectLine The subject line to be printed. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPrintingPressEmailAsync(String templateId, String content, String emailId, String videoId, String subjectLine, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPrintingPressEmailValidateBeforeCall(templateId, content, emailId, videoId, subjectLine, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getAllTemplatesForCurrentUser
     * @param quickSendOnly Whether to return only quick send templates. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllTemplatesForCurrentUserCall(Boolean quickSendOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/templates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (quickSendOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("quickSendOnly", quickSendOnly));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllTemplatesForCurrentUserValidateBeforeCall(Boolean quickSendOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getAllTemplatesForCurrentUserCall(quickSendOnly, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all user templates
     * Get all templates accessible to the current user
     * @param quickSendOnly Whether to return only quick send templates. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getAllTemplatesForCurrentUser(Boolean quickSendOnly) throws ApiException {
        getAllTemplatesForCurrentUserWithHttpInfo(quickSendOnly);
    }

    /**
     * Get all user templates
     * Get all templates accessible to the current user
     * @param quickSendOnly Whether to return only quick send templates. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getAllTemplatesForCurrentUserWithHttpInfo(Boolean quickSendOnly) throws ApiException {
        com.squareup.okhttp.Call call = getAllTemplatesForCurrentUserValidateBeforeCall(quickSendOnly, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get all user templates (asynchronously)
     * Get all templates accessible to the current user
     * @param quickSendOnly Whether to return only quick send templates. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllTemplatesForCurrentUserAsync(Boolean quickSendOnly, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllTemplatesForCurrentUserValidateBeforeCall(quickSendOnly, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getEmailTracking
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEmailTrackingCall(String emailId, String jobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/{emailId}/tracking"
            .replaceAll("\\{" + "emailId" + "\\}", apiClient.escapeString(emailId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (jobId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("jobId", jobId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEmailTrackingValidateBeforeCall(String emailId, String jobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'emailId' is set
        if (emailId == null) {
            throw new ApiException("Missing the required parameter 'emailId' when calling getEmailTracking(Async)");
        }
        

        com.squareup.okhttp.Call call = getEmailTrackingCall(emailId, jobId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Email Tracking
     * Get Tracking data for all sends of an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getEmailTracking(String emailId, String jobId) throws ApiException {
        getEmailTrackingWithHttpInfo(emailId, jobId);
    }

    /**
     * Get Email Tracking
     * Get Tracking data for all sends of an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getEmailTrackingWithHttpInfo(String emailId, String jobId) throws ApiException {
        com.squareup.okhttp.Call call = getEmailTrackingValidateBeforeCall(emailId, jobId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get Email Tracking (asynchronously)
     * Get Tracking data for all sends of an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEmailTrackingAsync(String emailId, String jobId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEmailTrackingValidateBeforeCall(emailId, jobId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getEmailTrackingInteractions
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to order and filter by (optional)
     * @param searchTerm Search term to filer by (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEmailTrackingInteractionsCall(String emailId, String jobId, String interactionType, String searchTerm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/{emailId}/tracking/interactions"
            .replaceAll("\\{" + "emailId" + "\\}", apiClient.escapeString(emailId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (jobId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("jobId", jobId));
        if (interactionType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interactionType", interactionType));
        if (searchTerm != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEmailTrackingInteractionsValidateBeforeCall(String emailId, String jobId, String interactionType, String searchTerm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'emailId' is set
        if (emailId == null) {
            throw new ApiException("Missing the required parameter 'emailId' when calling getEmailTrackingInteractions(Async)");
        }
        

        com.squareup.okhttp.Call call = getEmailTrackingInteractionsCall(emailId, jobId, interactionType, searchTerm, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Email Tracking Interactions
     * Get Contact detail interactions for an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to order and filter by (optional)
     * @param searchTerm Search term to filer by (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getEmailTrackingInteractions(String emailId, String jobId, String interactionType, String searchTerm) throws ApiException {
        getEmailTrackingInteractionsWithHttpInfo(emailId, jobId, interactionType, searchTerm);
    }

    /**
     * Get Email Tracking Interactions
     * Get Contact detail interactions for an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to order and filter by (optional)
     * @param searchTerm Search term to filer by (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getEmailTrackingInteractionsWithHttpInfo(String emailId, String jobId, String interactionType, String searchTerm) throws ApiException {
        com.squareup.okhttp.Call call = getEmailTrackingInteractionsValidateBeforeCall(emailId, jobId, interactionType, searchTerm, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get Email Tracking Interactions (asynchronously)
     * Get Contact detail interactions for an Email
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to order and filter by (optional)
     * @param searchTerm Search term to filer by (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEmailTrackingInteractionsAsync(String emailId, String jobId, String interactionType, String searchTerm, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEmailTrackingInteractionsValidateBeforeCall(emailId, jobId, interactionType, searchTerm, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getHourlyEmailTracking
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to filter by (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getHourlyEmailTrackingCall(String emailId, String jobId, String interactionType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/{emailId}/tracking/hourly"
            .replaceAll("\\{" + "emailId" + "\\}", apiClient.escapeString(emailId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (jobId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("jobId", jobId));
        if (interactionType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interactionType", interactionType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getHourlyEmailTrackingValidateBeforeCall(String emailId, String jobId, String interactionType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'emailId' is set
        if (emailId == null) {
            throw new ApiException("Missing the required parameter 'emailId' when calling getHourlyEmailTracking(Async)");
        }
        

        com.squareup.okhttp.Call call = getHourlyEmailTrackingCall(emailId, jobId, interactionType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Hourly Email Tracking
     * Get Tracking data for an Email,             broken down by the hour and filterable by an Interaction type
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to filter by (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getHourlyEmailTracking(String emailId, String jobId, String interactionType) throws ApiException {
        getHourlyEmailTrackingWithHttpInfo(emailId, jobId, interactionType);
    }

    /**
     * Get Hourly Email Tracking
     * Get Tracking data for an Email,             broken down by the hour and filterable by an Interaction type
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to filter by (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getHourlyEmailTrackingWithHttpInfo(String emailId, String jobId, String interactionType) throws ApiException {
        com.squareup.okhttp.Call call = getHourlyEmailTrackingValidateBeforeCall(emailId, jobId, interactionType, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get Hourly Email Tracking (asynchronously)
     * Get Tracking data for an Email,             broken down by the hour and filterable by an Interaction type
     * @param emailId ID of the email (required)
     * @param jobId ID of the Job (or null for all jobs) (optional)
     * @param interactionType Interaction type to filter by (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getHourlyEmailTrackingAsync(String emailId, String jobId, String interactionType, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getHourlyEmailTrackingValidateBeforeCall(emailId, jobId, interactionType, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getLiveFireData
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getLiveFireDataCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/livefire";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getLiveFireDataValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getLiveFireDataCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get livefire feed data
     * Get the user data for the live fire feed emails
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getLiveFireData() throws ApiException {
        getLiveFireDataWithHttpInfo();
    }

    /**
     * Get livefire feed data
     * Get the user data for the live fire feed emails
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getLiveFireDataWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getLiveFireDataValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     * Get livefire feed data (asynchronously)
     * Get the user data for the live fire feed emails
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getLiveFireDataAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getLiveFireDataValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getQuickSendTemplates
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getQuickSendTemplatesCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/quicksend/templates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getQuickSendTemplatesValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getQuickSendTemplatesCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all quicksend templates
     * Get all quicksend templates accessible to the user.
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getQuickSendTemplates() throws ApiException {
        getQuickSendTemplatesWithHttpInfo();
    }

    /**
     * Get all quicksend templates
     * Get all quicksend templates accessible to the user.
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getQuickSendTemplatesWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getQuickSendTemplatesValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     * Get all quicksend templates (asynchronously)
     * Get all quicksend templates accessible to the user.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getQuickSendTemplatesAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getQuickSendTemplatesValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getTemplateHtmlForTemplateId
     * @param templateId The id of the template. (required)
     * @param renderVariables Whether to render profile variables in the returned HTML. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTemplateHtmlForTemplateIdCall(String templateId, String renderVariables, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/templates/{templateId}/html"
            .replaceAll("\\{" + "templateId" + "\\}", apiClient.escapeString(templateId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (renderVariables != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("renderVariables", renderVariables));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTemplateHtmlForTemplateIdValidateBeforeCall(String templateId, String renderVariables, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'templateId' is set
        if (templateId == null) {
            throw new ApiException("Missing the required parameter 'templateId' when calling getTemplateHtmlForTemplateId(Async)");
        }
        

        com.squareup.okhttp.Call call = getTemplateHtmlForTemplateIdCall(templateId, renderVariables, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get the HTML for a given template
     * Get the HTML for a given template, with or without rendered variables
     * @param templateId The id of the template. (required)
     * @param renderVariables Whether to render profile variables in the returned HTML. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getTemplateHtmlForTemplateId(String templateId, String renderVariables) throws ApiException {
        getTemplateHtmlForTemplateIdWithHttpInfo(templateId, renderVariables);
    }

    /**
     * Get the HTML for a given template
     * Get the HTML for a given template, with or without rendered variables
     * @param templateId The id of the template. (required)
     * @param renderVariables Whether to render profile variables in the returned HTML. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getTemplateHtmlForTemplateIdWithHttpInfo(String templateId, String renderVariables) throws ApiException {
        com.squareup.okhttp.Call call = getTemplateHtmlForTemplateIdValidateBeforeCall(templateId, renderVariables, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get the HTML for a given template (asynchronously)
     * Get the HTML for a given template, with or without rendered variables
     * @param templateId The id of the template. (required)
     * @param renderVariables Whether to render profile variables in the returned HTML. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTemplateHtmlForTemplateIdAsync(String templateId, String renderVariables, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTemplateHtmlForTemplateIdValidateBeforeCall(templateId, renderVariables, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getVideoQuickSenderData
     * @param message A message for the video content. (optional)
     * @param subject A subject for the video content. (optional)
     * @param videoId A video ID. (optional)
     * @param templateId A template ID. (optional)
     * @param commaDelimEmails Comma delimited emails (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getVideoQuickSenderDataCall(String message, String subject, String videoId, String templateId, String commaDelimEmails, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/quicksend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (message != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("message", message));
        if (subject != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("subject", subject));
        if (videoId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("videoId", videoId));
        if (templateId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("templateId", templateId));
        if (commaDelimEmails != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("commaDelimEmails", commaDelimEmails));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getVideoQuickSenderDataValidateBeforeCall(String message, String subject, String videoId, String templateId, String commaDelimEmails, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getVideoQuickSenderDataCall(message, subject, videoId, templateId, commaDelimEmails, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get quicksend data
     * Get the user data for quicksender, including templates and lists.
     * @param message A message for the video content. (optional)
     * @param subject A subject for the video content. (optional)
     * @param videoId A video ID. (optional)
     * @param templateId A template ID. (optional)
     * @param commaDelimEmails Comma delimited emails (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getVideoQuickSenderData(String message, String subject, String videoId, String templateId, String commaDelimEmails) throws ApiException {
        getVideoQuickSenderDataWithHttpInfo(message, subject, videoId, templateId, commaDelimEmails);
    }

    /**
     * Get quicksend data
     * Get the user data for quicksender, including templates and lists.
     * @param message A message for the video content. (optional)
     * @param subject A subject for the video content. (optional)
     * @param videoId A video ID. (optional)
     * @param templateId A template ID. (optional)
     * @param commaDelimEmails Comma delimited emails (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getVideoQuickSenderDataWithHttpInfo(String message, String subject, String videoId, String templateId, String commaDelimEmails) throws ApiException {
        com.squareup.okhttp.Call call = getVideoQuickSenderDataValidateBeforeCall(message, subject, videoId, templateId, commaDelimEmails, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get quicksend data (asynchronously)
     * Get the user data for quicksender, including templates and lists.
     * @param message A message for the video content. (optional)
     * @param subject A subject for the video content. (optional)
     * @param videoId A video ID. (optional)
     * @param templateId A template ID. (optional)
     * @param commaDelimEmails Comma delimited emails (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getVideoQuickSenderDataAsync(String message, String subject, String videoId, String templateId, String commaDelimEmails, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getVideoQuickSenderDataValidateBeforeCall(message, subject, videoId, templateId, commaDelimEmails, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for saveQuickSenderSettings
     * @param alertOnPlay A preference setting for whether or not to notify user on quicksend email video plays. (optional)
     * @param alertOnOpen A preference setting for whether or not to notify user on quicksend email opens. (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call saveQuickSenderSettingsCall(String alertOnPlay, String alertOnOpen, String templateId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/quicksend/settings";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (alertOnPlay != null)
        localVarFormParams.put("alertOnPlay", alertOnPlay);
        if (alertOnOpen != null)
        localVarFormParams.put("alertOnOpen", alertOnOpen);
        if (templateId != null)
        localVarFormParams.put("templateId", templateId);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call saveQuickSenderSettingsValidateBeforeCall(String alertOnPlay, String alertOnOpen, String templateId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = saveQuickSenderSettingsCall(alertOnPlay, alertOnOpen, templateId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Save quicksender settings
     * Save the quicksender notification and default template settings
     * @param alertOnPlay A preference setting for whether or not to notify user on quicksend email video plays. (optional)
     * @param alertOnOpen A preference setting for whether or not to notify user on quicksend email opens. (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void saveQuickSenderSettings(String alertOnPlay, String alertOnOpen, String templateId) throws ApiException {
        saveQuickSenderSettingsWithHttpInfo(alertOnPlay, alertOnOpen, templateId);
    }

    /**
     * Save quicksender settings
     * Save the quicksender notification and default template settings
     * @param alertOnPlay A preference setting for whether or not to notify user on quicksend email video plays. (optional)
     * @param alertOnOpen A preference setting for whether or not to notify user on quicksend email opens. (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> saveQuickSenderSettingsWithHttpInfo(String alertOnPlay, String alertOnOpen, String templateId) throws ApiException {
        com.squareup.okhttp.Call call = saveQuickSenderSettingsValidateBeforeCall(alertOnPlay, alertOnOpen, templateId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Save quicksender settings (asynchronously)
     * Save the quicksender notification and default template settings
     * @param alertOnPlay A preference setting for whether or not to notify user on quicksend email video plays. (optional)
     * @param alertOnOpen A preference setting for whether or not to notify user on quicksend email opens. (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call saveQuickSenderSettingsAsync(String alertOnPlay, String alertOnOpen, String templateId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = saveQuickSenderSettingsValidateBeforeCall(alertOnPlay, alertOnOpen, templateId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for videoQuickSender
     * @param videoId A guid id for the video. (optional)
     * @param emailAddresses A semi-colon separated list of email addresses to send to. (optional)
     * @param subject Subject line for the email. (optional)
     * @param message Message for the body of the email. (optional)
     * @param listIds An array of list ids (optional)
     * @param scheduledSendTimestamp When to schedule the send (seconds since epoch). null value means send immediately. (optional)
     * @param extendedProperties Bool value that when checked will send back both emailId as well as extra properties (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param stripHTML remove HTML elements (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call videoQuickSenderCall(String videoId, String emailAddresses, String subject, String message, String listIds, Integer scheduledSendTimestamp, String extendedProperties, String templateId, String stripHTML, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/emails/quicksend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (videoId != null)
        localVarFormParams.put("videoId", videoId);
        if (emailAddresses != null)
        localVarFormParams.put("emailAddresses", emailAddresses);
        if (subject != null)
        localVarFormParams.put("subject", subject);
        if (message != null)
        localVarFormParams.put("message", message);
        if (listIds != null)
        localVarFormParams.put("listIds", listIds);
        if (scheduledSendTimestamp != null)
        localVarFormParams.put("scheduledSendTimestamp", scheduledSendTimestamp);
        if (extendedProperties != null)
        localVarFormParams.put("extendedProperties", extendedProperties);
        if (templateId != null)
        localVarFormParams.put("templateId", templateId);
        if (stripHTML != null)
        localVarFormParams.put("stripHTML", stripHTML);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BBOAuth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call videoQuickSenderValidateBeforeCall(String videoId, String emailAddresses, String subject, String message, String listIds, Integer scheduledSendTimestamp, String extendedProperties, String templateId, String stripHTML, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = videoQuickSenderCall(videoId, emailAddresses, subject, message, listIds, scheduledSendTimestamp, extendedProperties, templateId, stripHTML, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Send a quicksend email
     * Send a quicksend video email to the list or users provided.
     * @param videoId A guid id for the video. (optional)
     * @param emailAddresses A semi-colon separated list of email addresses to send to. (optional)
     * @param subject Subject line for the email. (optional)
     * @param message Message for the body of the email. (optional)
     * @param listIds An array of list ids (optional)
     * @param scheduledSendTimestamp When to schedule the send (seconds since epoch). null value means send immediately. (optional)
     * @param extendedProperties Bool value that when checked will send back both emailId as well as extra properties (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param stripHTML remove HTML elements (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void videoQuickSender(String videoId, String emailAddresses, String subject, String message, String listIds, Integer scheduledSendTimestamp, String extendedProperties, String templateId, String stripHTML) throws ApiException {
        videoQuickSenderWithHttpInfo(videoId, emailAddresses, subject, message, listIds, scheduledSendTimestamp, extendedProperties, templateId, stripHTML);
    }

    /**
     * Send a quicksend email
     * Send a quicksend video email to the list or users provided.
     * @param videoId A guid id for the video. (optional)
     * @param emailAddresses A semi-colon separated list of email addresses to send to. (optional)
     * @param subject Subject line for the email. (optional)
     * @param message Message for the body of the email. (optional)
     * @param listIds An array of list ids (optional)
     * @param scheduledSendTimestamp When to schedule the send (seconds since epoch). null value means send immediately. (optional)
     * @param extendedProperties Bool value that when checked will send back both emailId as well as extra properties (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param stripHTML remove HTML elements (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> videoQuickSenderWithHttpInfo(String videoId, String emailAddresses, String subject, String message, String listIds, Integer scheduledSendTimestamp, String extendedProperties, String templateId, String stripHTML) throws ApiException {
        com.squareup.okhttp.Call call = videoQuickSenderValidateBeforeCall(videoId, emailAddresses, subject, message, listIds, scheduledSendTimestamp, extendedProperties, templateId, stripHTML, null, null);
        return apiClient.execute(call);
    }

    /**
     * Send a quicksend email (asynchronously)
     * Send a quicksend video email to the list or users provided.
     * @param videoId A guid id for the video. (optional)
     * @param emailAddresses A semi-colon separated list of email addresses to send to. (optional)
     * @param subject Subject line for the email. (optional)
     * @param message Message for the body of the email. (optional)
     * @param listIds An array of list ids (optional)
     * @param scheduledSendTimestamp When to schedule the send (seconds since epoch). null value means send immediately. (optional)
     * @param extendedProperties Bool value that when checked will send back both emailId as well as extra properties (optional)
     * @param templateId Id of a template to use for this send. A null value means use the default for this user. (optional)
     * @param stripHTML remove HTML elements (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call videoQuickSenderAsync(String videoId, String emailAddresses, String subject, String message, String listIds, Integer scheduledSendTimestamp, String extendedProperties, String templateId, String stripHTML, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = videoQuickSenderValidateBeforeCall(videoId, emailAddresses, subject, message, listIds, scheduledSendTimestamp, extendedProperties, templateId, stripHTML, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
